<section class="contact">
        <div class="contact__heading"></div>
        <p class="contact__text"></p>
        <form class="contact__form">
            <div class="contact__line">
                <label class="contact__label">My name is </label>
                <div class="contact__field">
                    <input type="text" class="contact__input" placeholder="full name">
                </div>
                <label class="contact__label"> and I work for </label>
                <div class="contact__field">
                    <input type="text" class="contact__input" placeholder="name of your company">
                </div>
            </div>
            <div class="contact__line">
                <label class="contact__label">I would like to learn more about Mind Over Data's </label>
                <div class="contact__field">
                    <select type="text" class="contact__select">
                        <option selected>Custom Development</option>
                        <option selected>Interactive Kiosks</option>
                        <option selected>Maintenance & Support</option>
                        <option selected>Process Automation</option>
                    </select>
                </div>
            </div>
            <div class="contact__line">
                <label class="contact__label">Email me here </label>
                <div class="contact__field">
                    <input type="text" class="contact__input" placeholder="email address">
                </div>
                <label class="contact__label"> or call me at </label>
                <div class="contact__field">
                    <input type="text" class="contact__input" placeholder="(XXX) XXX-XXXX">
                </div>
            </div>  
            <div class="contact__line">
                <button class="contact__submit">Submit</button>
            </div>
        </form>
    </section>