<nav class="navigation">

    <!-- Logo -->
    <a href="./" class="navigation__logo">
        <img src="./images/logo-mod-white.png" alt="Mind Over Data logo" class="navigation__logo-image navigation__logo-image--top">
        <img src="./images/logo-mod-color.png" alt="Mind Over Data logo" class="navigation__logo-image navigation__logo-image--scrolled">
    </a>

    <!-- Navigation Links -->
    <a href="./" class="navigation__link navigation__link--current-page">Home</a>
    <a href="./services.html" class="navigation__link">What We Do</a>
    <a href="./work.html" class="navigation__link">Our Work</a>
    <a href="./about.html" class="navigation__link">About</a>
    <a href="./contact.html" class="navigation__link">Contact</a>
</nav>