<section class="featured-work">
    <h2 class="featured-work__heading">Featured Work</h2>
    <div class="featured-work__card-section">
        <div class="featured-work-card featured-work-card--doubletree-hotels" data-detail-id="doubletree-hotels">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">DoubleTree Hotels</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--doubletree-hotels" id="doubletree-hotels">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--international-paper" data-detail-id="international-paper">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">International Paper</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--international-paper" id="international-paper">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--woody-guthrie-museum" data-detail-id="woody-guthrie-museum">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">Woody Guthrie Museum</h3>
                    <p class="featured-work-card__text">Interactive Kiosk</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--woody-guthrie-museum" id="woody-guthrie-museum">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">The Request</h4>
                <p class="featured-work-detail__text">
                    GTOO Media, in collaboration with the George Kaiser Family Foundation, the 
                    Guthrie Family and the GRAMMY Museum, tasked Mind Over Data with 
                    incorporating more than 10,000 notes and 3,000 song lyrics from Guthrie’s 
                    archives (housed in the museum) into interactive kiosks. 
                </p>
                <p class="featured-work-detail__text">
                    Requirements also included a large, 9-foot touch screen, able to handle the 
                    interaction of multiple visitors at one time, and the assurance that the essence 
                    of Guthrie would come across in all resulting work.
                </p>

                <h4 class="featured-work-detail__heading">The Solution</h4>
                <p class="featured-work-detail__text">
                    Mind Over Data provided 12 kiosk stations, and eight separate interactive 
                    exhibits, each telling a different story pertaining to the life of Woody Guthrie. 
                    The Music Bar and the This Land is Your Land interactive exhibits allow users to 
                    listen to excerpts of over 50 Woody Guthrie songs and a variety of artists 
                    performing his songs. 
                </p>
                <p class="featured-work-detail__text">
                    The Write a Song with Woody interactive provides patrons with the ability to 
                    compose an original verse to a song and submit it to the museum’s database. 
                    The Woody & His World, Following in Woody’s Footsteps and Lyric Journal 
                    interactive exhibits offer visitors the opportunity to learn about different time 
                    periods in Guthrie’s life and the artists who have credited him with inspiring or 
                    influencing their music and to explore the musician’s word choice and style. 
                </p>
                <p class="featured-work-detail__text">
                    The Dust Bowl interactive allows visitors to listen to Guthrie’s Dust Bowl ballads 
                    and learn more about the period of time in the 1930s when the Great Plains 
                    region of the U.S. was devastated by poor agricultural practices, prolonged 
                    drought and severe dust storms. The highlight of the museum is Woody's 
                    America Interactive Map, a 9-foot interactive touch screen (based on a drawing 
                    by Guthrie) that allows up to 8 visitors at a time to learn more about the 
                    significant events that took place during the influential musician's lifetime. 
                </p>
                <p class="featured-work-detail__text">
                    Woody's America Interactive Map was selected as the Gold Winner for Best 
                    Interactive Element at the 2013 Event Design Awards.
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--kent-state-university" data-detail-id="kent-state-university">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">Kent State University</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--kent-state-university" id="kent-state-university">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--fedex" data-detail-id="fedex">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">FedEx Air and Ground</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--fedex" id="fedex">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--smithsonian-museums" data-detail-id="smithsonian-museums">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">Smithsonian Museums</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--smithsonian-museums" id="smithsonian-museums">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--baker-donelson-and-associates" data-detail-id="baker-donelson-and-associates">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">Baker Donelson & Associates</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--baker-donelson-and-associates" id="baker-donelson-and-associates">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
        <div class="featured-work-card featured-work-card--grammy-museum" data-detail-id="grammy-museum">
            <div class="featured-work-card__container">
                <div class="featured-work-card__overlay">
                    <h3 class="featured-work-card__heading">Grammy Museum</h3>
                    <p class="featured-work-card__text">Lorem Ipsum Dolor</p>
                </div>
            </div>
        </div>
        <div class="featured-work-detail featured-work-detail--grammy-museum" id="grammy-museum">
            <div class="featured-work-detail__text-section">
                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam? 
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>

                <h4 class="featured-work-detail__heading">Lorem Ipsum Dolor</h4>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
                <p class="featured-work-detail__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, provident? Quod rerum quaerat ab, hic saepe eaque sit, magni itaque similique dolorem labore sapiente ad, doloribus veniam minima neque quisquam?
                </p>
            </div>
        </div>
    </div>
</section>