@import '../config/settings';

@mixin button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
    background-color: $color-yellow--dark;
    border-color: transparent;
    color: $font-color-light;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;

    &:focus {
        outline: none;
    }

    @include button-hover-effect($button-color: $color-yellow--dark);
}

@mixin button-dark {
    @include button;
    background-color: $color-blue--extra-dark;

    @include button-hover-effect($button-color: $color-blue--extra-dark);
}

@mixin button-hover-effect($button-color) {

    box-shadow: 0 0 0 0 $button-color;
    transition: box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        box-shadow: 0 0 0 20px rgba($button-color, 0);
    }
}