@import '../config/settings';

  
  
  @keyframes spread-fade{
    0%{
      transform: translate(-50%,-50%) scale(0);
      opacity:0;
    }
    10%{
      opacity:1;
    }
    100%{
      transform: translate(-50%,-50%) scale(1);
      opacity:0;
    }
    
  }

@mixin button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 2rem;
    background-color: $color-yellow--dark;
    border-color: transparent;
    color: $font-color-light;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;

    &:focus {
        outline: none;
    }

    
}

@mixin button-dark {
    @include button;
    background-color: $color-blue--extra-dark;
}