@import '../config/settings';

.navigation {
    $block: &;
    position: relative;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 $gutter-size 0 ($gutter-size + 7rem);
    transition: max-height 1s ease;

    &--scrolled {
        background-color: $color-white;
        height: 7rem;

        #{$block}__logo-image {
        
            &--top {
                display: none;
            }

            &--scrolled {
                position: relative;
                top: 0;
                width: auto;
                height: 100%;
                opacity: 1;
            }
        }

        #{$block}__link {
            border-bottom-color: $color-yellow--dark;
            color: $font-color-dark;
            text-shadow: none;
        }
    }

    &__logo {
        position: relative;
        flex: 0 1 15rem;
        align-self: flex-start;
        display: block;
        box-sizing: border-box;
        height: 100%;
        padding: 1rem 0;
        margin-right: auto;
    }

    &__logo-image {
        display: inline-block;
        width: 100%;

        &--scrolled {
            opacity: 0;
            position: absolute;
            top: 1rem;
        }
    }

    &__link {
        @include text-shadow-subtle;
        display: block;
        padding: .5rem 0;
        margin: 0 2rem;
        color: $font-color-light;
        text-decoration: none;
        text-transform: uppercase;

        &--current-page {
            border-bottom: 3px solid $color-white;
            color: $font-color-medium;
        }

        &:hover {
            color: $font-color-medium;
        }
    }
}

.footer-navigation {
    margin: 0 12rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid $color-blue--dark;

    &__link {
        margin: 0 1rem;
        color: $font-color-medium;
        font-weight: $font-weight-regular;
        text-decoration: none;

        &:hover {
            color: $font-color-light;
        }
    }
}