.featured-work {

    &__heading {
        padding: 1rem $gutter-size/2 0 $gutter-size/2;
        font-size: $font-size-heading-2;
        text-transform: uppercase;
    }

    &__card-section {
        display: flex;
        flex-flow: row wrap;
        background-color: $color-blue--extra-dark;        
    }
}

.featured-work-card {
    $work-hover-scale: 1.2;
    $work-hover-transition: transform .3s cubic-bezier(.5, 0, .1, 1) .1s;
    $work-down-arrow-transition-bottom: bottom 1s ease;

    $block: &;

    @include scroll-reveal;
    @include text-shadow-subtle;
    cursor: pointer;
    flex: 1 0 25%;
    height: 18rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: $color-blue--dark;
    color: $font-color-light;

    // Enlarged
    &:hover, &--detail-open {
        
        #{$block}__container {
            @include transform(scale($work-hover-scale));
            z-index: 2;
            transition-delay: 0s;
            
            // Down arrow
            &:after {
                opacity: 1;
                transition: $work-down-arrow-transition-bottom, opacity .25s ease 0s;
            }
        }
        
        #{$block}__heading {
            @include transform(scale((1/$work-hover-scale)));
            transition-delay: 0s;
        }
        
        #{$block}__text {
            opacity: 1;
            @include transform(scale((1/$work-hover-scale)));
            transition-delay: 0s;
        }
    }

    &--detail-open {
        #{$block}__container {
            z-index: 1;

            // Down arrow
            &:after {
                bottom: -1rem;
            }
        }
    }

    &--doubletree-hotels {
        order: 1;
    }

    &--international-paper {
        order: 2;
    }

    &--woody-guthrie-museum {
        order: 3;
    }

    &--kent-state-university {
        order: 4;
    }
    
    &--fedex {
        order: 6;
    }
    
    &--smithsonian-museums {
        order: 7;
    }
    
    &--baker-donelson-and-associates {
        order: 8;
    }
    
    &--grammy-museum {
        order: 9;
    }
    
    &--cancer-kindness {
        order: 11;
    }
    
    &--hilton-garden-inn {
        order: 12;
    }
    
    &--wright-medical {
        order: 13;
    }
    
    &--ars-inc {
        order: 14;
    }

    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: $work-hover-transition;        

        &:after {
            opacity: 0;
            content: ' ';
            position: absolute;
            right: 50%;
            bottom: 1rem;
            transform: translateX(50%) rotate(-45deg) skew(20deg, 20deg);
            width: 1rem;
            height: 1rem;
            border: 2px solid $color-white;
            border-top: none;
            border-right: none;
            transition: $work-down-arrow-transition-bottom, opacity 0s ease;
        }

        #{$block}--doubletree-hotels & {
            background-image: url('../images/work-doubletree-hotels.png');
        }

        #{$block}--international-paper & {
            background-image: url('../images/work-international-paper.png');
        }

        #{$block}--woody-guthrie-museum & {
            background-image: url('../images/work-woody-guthrie-museum.png');
        }

        #{$block}--kent-state-university & {
            background-image: url('../images/work-kent-state-university.png');
        }
        
        #{$block}--fedex & {
            background-image: url('../images/work-fedex.png');
            background-position-x: right;
        }
        
        #{$block}--smithsonian-museums & {
            background-image: url('../images/work-smithsonian-museums.png');
        }
        
        #{$block}--baker-donelson-and-associates & {
            background-image: url('../images/work-baker-donelson-and-associates.png');
        }
        
        #{$block}--grammy-museum & {
            background-image: url('../images/work-grammy-museum.png');
        }
        
        #{$block}--cancer-kindness & {
            background-image: url('../images/work-fedex.png');
        }
        
        #{$block}--hilton-garden-inn & {
            background-image: url('../images/work-fedex.png');
        }
        
        #{$block}--wright-medical & {
            background-image: url('../images/work-fedex.png');
        }
        
        #{$block}--ars-inc & {
            background-image: url('../images/work-fedex.png');
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem;
        background-color: rgba(1, 17, 17, .56);
    }

    &__heading {
        font-size: $font-size-heading-2;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        transition: $work-hover-transition;        
    }

    &__text {
        opacity: 0;
        transition: $work-hover-transition;        
    }
}

.featured-work-detail {
    display:none;
    //display: flex;
    justify-content: flex-start;
    padding: 2rem;
    background: url('../images/work-detail-woody-guthrie-museum.png') center left;
    background-size: cover;
    color: $font-color-medium;

    &--doubletree-hotels {
        order: 5;
    }

    &--international-paper {
        order: 5;
    }

    &--woody-guthrie-museum {
        order: 5;
    }

    &--kent-state-university {
        order: 5;
    }
    
    &--fedex {
        order: 10;
    }
    
    &--smithsonian-museums {
        order: 10;
    }
    
    &--baker-donelson-and-associates {
        order: 10;
    }
    
    &--grammy-museum {
        order: 10;
    }
    
    &--cancer-kindness {
        order: 15;
    }
    
    &--hilton-garden-inn {
        order: 15;
    }
    
    &--wright-medical {
        order: 15;
    }
    
    &--ars-inc {
        order: 15;
    }

    &__text-section {
        width: 50%;
    }

    &__heading {
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 1rem;        
    }
}