@import '../config/settings';
@import '../components/button';

a {
    transition: all $transition-duration-default ease;
}

.site {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;

    &__header {
    }

    &__footer {
        padding: 2rem 0 4rem 0;
        background-color: $color-blue--extra-dark;
    }
}

.hero {
    @include text-shadow-subtle;
    width: 50%;
    margin: 0 $gutter-size 0 $gutter-size;
    padding: 12rem 0 10rem 0;
    color: $font-color-light;
    
    &__heading {
        font-size: $font-size-heading-1;
        font-weight: $font-weight-light;
    }

    &__heading-emphasis {
        font-weight: $font-weight-semi-bold; 
    }

    &__action-buttons {
        margin-top: 2rem;
    }

    &__button {
        @include button;
        min-width: 11rem;
        box-shadow: 0 0 0 0 $color-yellow--dark;
        transition: box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1);


        & + * {
            margin-left: 2rem;
        }

        &:hover {
            box-shadow: 0 0 0 20px rgba($color-yellow--dark, 0);
        }
    }
}