@import '../config/settings';
@import '../components/button';

a {
    transition: all $transition-duration-default ease;
}

.site {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-base;

    &__header {
    }

    &__footer {
        padding: 2rem 0 4rem 0;
        background-color: $color-blue--extra-dark;
    }
}

.hero {
    @include text-shadow-subtle;
    width: 50%;
    margin: 0 $gutter-size 0 $gutter-size;
    padding: 12rem 0 10rem 0;
    color: $font-color-light;
    
    &__heading {
        @include scroll-reveal;
        font-size: $font-size-heading-1;
        font-weight: $font-weight-light;
    }

    &__heading-emphasis {
        font-weight: $font-weight-semi-bold; 
    }

    &__text {
        @include scroll-reveal;
    }

    &__action-buttons {
        margin-top: 2rem;
    }

    &__button {
        @include scroll-reveal;
        @include button;

        & + * {
            margin-left: 2rem;
        }
    }
}