.about-sections {
    $block: &;
    position: relative;
    display: flex;
    flex-flow: row wrap;

    &--detail-open {
        #{$block}__close-button {
            @include close-button;
        }
    }
    
}

.about-card {
    $block: &;
    $card-width: 50%;
    $card-transition: all .5s ease;

    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: $card-width;
    height: 20rem;
    max-height: 20rem;
    overflow: hidden;
    transition: $card-transition;

    &--detail-open {
        width: 100%;
        height: 10rem;
        margin-top: 2rem;
        padding: 0 0 0 3rem;

        #{$block}__image {
            left: 3rem;
            width: 14rem;
        }
    }

    &--not-selected {
        opacity: 0;
        //width: 0;
        max-height: 0;
    }

    &--our-team {
        order: 1;
    }

    &--our-story {
        order: 3;
    }

    &--our-process {
        order: 6;
    }

    &--our-commitment {
        order: 8;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: $card-transition;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        padding: 1rem 0;
        background-color: rgba($color-blue--dark, .58);
        color: $font-color-light;
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__emphasis {
        font-weight: $font-weight-semi-bold;
    }
}

.about-card-detail {
    display: none;
    padding: $gutter-size;
    background-color: $color-white;
    color: $font-color-dark;

    &--open {

    }

    &--our-team {
        order: 2;
    }

    &--our-story {
        order: 4;
    }

    &--our-process {
        order: 5;
    }

    &--our-commitment {
        order: 7;
    }
    
    &__heading {
        margin-bottom: 2rem;
        color: $font-color-dark;
        font-size: $font-size-heading-2;
        font-weight: $font-weight-semi-bold;
    }

    &__text {
        margin-top: 1rem;
    }

    &__text-emphasis {
        font-weight: $font-weight-semi-bold;
    }

    &__interview-section {
        display: flex;
        margin-top: 2rem;
    }
}

.interview {
    display: flex;

    & + * {
        margin-left: 3rem;
    }

    &__text-section {
        margin-left: 1rem;
    }

    &__name {
        font-size: $font-size-heading-3;
        font-weight: $font-weight-semi-bold;
        margin-bottom: 2rem;
    }

    &__question {
        margin-top: .5rem;
    }

    &__contact-section {
        margin-top: 2rem;
    }
}