@import '../config/settings';
@import '../components/button';

.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem $gutter-size/2;
    background-color: $color-gray--light;

    &__logo {
        @include scroll-reveal;
        display: flex;
        align-items: center;

        & + * {
            margin-left: 1rem;
        }

        &--double-tree {
            width: 10rem;
        }

        &--international-paper {
            width: 14rem;
        }

        &--fedex {
            width: 9rem;
        }

        &--acorn {
            width: 9rem;
        }

        &--kent-state-university {
            width: 7rem;
        }
    }

    &__logo-image {
        width: 100%;
    }
}

.smart-people-video {
    display: flex;

    &__text-section {
        flex: 1 1 40%;
        padding: 5rem $gutter-size/2;
    }

    &__video-section {
        width: 60%;

        @include breakpoint(1520px) {
            height: 486px;
        }
    }

    &__heading {
        @include scroll-reveal;
        color: $font-color-dark;
        font-size: $font-size-heading-3;
    }

    &__text {
        @include scroll-reveal;
        margin-top: 2rem;
        color: $font-color-normal;

        & + * {
            margin-top: 1.5rem;
        }

        &--emphasis {
            font-weight: $font-weight-semi-bold;
        }
    }

    &__video {
        @include scroll-reveal;
        height: 100%;

        @include breakpoint(1520px) {
            width: 100%;
            height: auto;
        }
    }
}

$service-card-transition-duration: 1s;

.services {
    $block: &;

    position: relative;
    overflow: hidden;
    padding: 4rem 0 6rem 0;
    background-color: $color-blue;
    text-align: center;

    &__heading {
        @include scroll-reveal;
        color: $font-color-light;
        font-size: $font-size-heading-3;
        font-weight: $font-weight-semi-bold;
    }

    &__text {
        @include scroll-reveal;
        margin-top: 2rem;
        padding: 0 10rem;
        color: $font-color-medium;
    }

    &__card-section {
        min-height: 13rem;
        margin-top: 5rem;
    }
}

.service-card {
    $service-card-width: 15rem;
    $service-card-margin: 1.5rem;

    $block: &;

    @include scroll-reveal;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: 6rem;
    left: 50%;
    width: $service-card-width;
    padding-top: 1rem;
    border-top: 5px solid transparent;
    transition: left $service-card-transition-duration ease;    

    &:hover, &--selected {
        border-top-color: $color-white;

        #{$block}__icon {
            background-position-y: 0;
        }

        #{$block}__heading {
            color: $font-color-light;
        }

        #{$block}__text {
            color: $font-color-light;
        }
    }

    &--custom-software {
        margin-left: $service-card-width + 3 * $service-card-margin;
    }

    &--interactive-technology {
        margin-left: $service-card-margin;
    }

    &--support {
        margin-left: (-1 * $service-card-width) + (-1 * $service-card-margin);
    }

    &--automated-solutions {
        margin-left: (-2 * $service-card-width) + (-3 * $service-card-margin);
    }

    .services--detail-open & {
        left: 100%;

        &--selected {
            left: 0;
            margin-left: 2rem; 
        }
    } 

    &__icon {
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
        background-position: 0 -100%;
        background-size: 100% auto;

        &--screen {
            background-image: url('../images/icon-services-screen.png');
        }

        &--beaker {
            background-image: url('../images/icon-services-beaker.png');
        }

        &--chat {
            background-image: url('../images/icon-services-chat.png');
        }

        &--clock {
            background-image: url('../images/icon-services-clock.png');
        }
    }

    &__heading {
        margin-top: 1rem;
        text-transform: uppercase;
        color: $font-color-medium;
        font-size: $font-size-heading-3;
        font-weight: $font-weight-light;
        line-height: 110%;
    }

    &__text {
        margin-top: 2rem;
        color: $font-color-medium;
        line-height: 110%;
    }
}

.services-detail {
    visibility: hidden;
    opacity: 0;
    position: relative;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 42% 100%);    
    padding: $gutter-size/2 $gutter-size/2 $gutter-size/2 33%;
    background-color: $color-blue--light;
    color: $font-color-dark;
    text-align: left;
    transition: opacity $service-card-transition-duration ease, visibility 0s ease $service-card-transition-duration;

    &--open {
        visibility: visible;
        opacity: 1;
        bottom: 0;
        transition-delay: 0s;
    }

    &__heading {
        font-size: $font-size-heading-2;
        font-weight: $font-weight-semi-bold;
    }

    &__text {
        margin-top: 2rem;
    }

    &__examples-section {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }

    &__example {
        flex: 0 1 16rem;
        text-align: center;
    }

    &__example-image {
        height: 10rem;
    }

    &__example-title {
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
    }

    &__call-to-action {
        margin-top: $gutter-size/2;
        text-align: right;
    }

    &__button {
        @include button;
    }

    &__close-button {
        @include close-button;
    }
}

.testimonials {
    padding: 5rem 5rem 0 5rem;
    background-color: $color-gray--light;

    &__testimonials-section {
        padding-bottom: 6em;
    }

    // Slider controls
    aside[id="testimonial-slider-control"] {
        bottom: 2rem!important;
        width: 4rem!important;
        height: auto!important;
        margin: 0 auto;

        & .slidr-control.right:after {
            border-left-color: $color-blue !important;
        }

        & .slidr-control.left:after {
            border-right-color: $color-blue !important;
        }
    }
    
}

.testimonial {
    padding-bottom: 5rem;
    text-align: center;

    &__logo {
        width: 8rem;
    }

    &__quote {
        margin-top: 1rem;
        color: $font-color-dark;
        font-size: 1.5rem;
    }

    &__client {
        margin-top: 1rem;
        color: $font-color-medium;
        font-size: .8rem;
        font-weight: $font-weight-semi-bold;
    }
}

.what-to-expect {
    padding: $gutter-size/2;
    background-image: url('../images/bg-what-to-expect.jpg');
    background-attachment: fixed;
    background-size: cover;

    &__heading {
        color: $font-color-light;
        font-size: $font-size-heading-2;
        font-weight: $font-weight-light;
        text-transform: uppercase;
    }

    &__expectations-section {
        display: flex;
        margin: 4rem -1rem 0 -1rem;
    }
}

.expectation {
    @include scroll-reveal;
    width: 20%;
    margin: 0 1rem;
    color: $font-color-light;

    &__heading {
        font-size: $font-size-heading-3;
    }

    &__text {
        margin-top: 2rem;

        & + * {
            margin-top: 1rem;
        }
    }

    &__intro-text {
        text-transform: uppercase;
    }
}