@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

// Colors
$color-white: #ffffff;
$color-yellow--dark: #bb9f00;
$color-blue--light: #afc0cd;
$color-blue: #718493;
$color-blue--dark: #3c4458;
$color-blue--extra-dark: #1f2734;
$color-gray--light: #edf3f8;

// Open Sans font weight mappings
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Font sizes
$font-size-base: 16px;
$font-size-heading-1: 2rem;
$font-size-heading-2: 1.7rem;
$font-size-heading-3: 1.6rem;

// Font colors
$font-color-light: $color-white;
$font-color-medium: $color-blue--light;
$font-color-normal: $color-blue;
$font-color-dark: $color-blue--dark;

// Transition
$transition-duration-default: .3s;

// Metrics
$gutter-size: 5rem;

// Scroll reveal (the real work is done by the JS)
@mixin scroll-reveal {
    visibility: hidden;
}

// Effects
@mixin text-shadow-subtle {
    text-shadow: 0 1px 5px rgba(0, 0, 0, .3)
}

// Icons
@mixin arrow-right {
    @include triangle($direction: right, $color: $color-blue, $size: .6rem);
}

@mixin arrow-left {
    @include triangle($direction: left, $color: $color-blue, $size: .6rem);
}

@mixin caret-down {
}